header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
}

.logo {
  display: flex;
  position: relative;
  align-items: center;
  color: mediumaquamarine;
  flex-grow: 1;
  }

.logo span {
  display: flex;
  margin-left: 5px;
}
nav span {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

}
